.no-p-m{
    margin: 0 !important;
    padding: 0 !important;
}

html,
body{
    background-color: lightgrey;
    height: 100%;
    width: 100%;
}

.bg-main{
    background-color: lightgrey;
}

.fillScreen{
    height: 100%;
    width: 100%;
}
.draftProgressPanel{
    border: 1px solid black;
}

.scrollable-col{
    overflow-y: auto;
    max-height: 98%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollable-col::-webkit-scrollbar {
    width: 0.5em;
}

.sticky-header {
    position: sticky;
    top: 0;
}
  